.content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 5rem 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    min-height: 350px;
}
.vignetteOneContainer, .vignetteTwoContainer, .vignetteThreeContainer{
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5rem;
    height: 350px;

}
.vignetteOneContainer{
   background-image: url("../../../asset/image/vignetteOne.png"); 
}
.vignetteTwoContainer{
    background-image: url("../../../asset/image/vignetteTwo.png"); 
}
.vignetteThreeContainer{
    background-image: url("../../../asset/image/vignetteThree.png");    
}
.vignetteTitle{
    --vignetteTitleSize: 36px;
    font-size: var(--vignetteTitleSize);
    text-align: center;
    max-width: 200px;
}
@media screen and (max-width: 1024px) {
    .content{
        display: none;
    }
    .vignetteTitle{
        font-size: calc(var(--vignetteTitleSize) - 60%);
    }
}
@media screen and (min-width: 1570px) {
  .content{
    width: 1440px;
  }
}