
.content{
    width: 100vw;
    background-image: url("../../../asset/image/headerbackgroundHeader.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.title{
    --titleHeight: 48px;
    font-size: var(--titleHeight);
    color: white;
    margin-top: 4rem;
    text-align: start;
    max-width: 1000px;
}
.secondTitle{
    --secondTitleHeight: 28px;
    font-size: var(--secondTitleHeight);
    margin-top: 25px;
}
.title, .secondTitle{
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 150px; */
    font-weight: 300;
    width: 90%;
    max-width: 1440px;
}
.imgContainer{
    transform: rotate(3deg);
    position: absolute;
    width: 15vw;
    height: 15vw;
    right: 9%;
    top: 30%;
    background-image: url("../../../asset/image/Test.png");
    background-size: cover;
}
@media screen and (max-width: 1440px) {
    .imgContainer{
        height: 10vw;
        width: 10vw;
    }   
}
@media screen and (max-width: 1320px) {
    .imgContainer{
        display: none;
    }   
}
@media screen and (max-width: 1090px){
    .title{
        font-size: calc(var(--titleHeight) - 40%);
    }
    .secondTitle{
        font-size: calc(var(--secondTitleHeight) - 40%);
    }
}
@media screen and (max-width: 768px) {
    .content{
        background: none;
        background-color: #056CF2;
        height: 100%;
    }
    .secondTitle{
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 425px) {
    .title{
        font-size: 36px;
    }
    .secondTitle{
        font-size: 24px;
    }
}
@media screen and (min-width: 1570px) {
    .content{
        background-image: none;
        background-color: #056CF2;
        margin-bottom: 5rem;
        height: 300px;
    }
    .imgContainer{
        background-image: none;
    }
}