.content{
    width: 100vw;
    background-image: url("../../../asset/image/headerbackgroundHeader.png");
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 64px;
    color: white;
    margin-top: 4rem;
    text-align: start;
}
.secondTitle{
    font-size: 36px;
    margin-top: 25px;
}
.title, .secondTitle{
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 150px; */
    font-weight: 300;
    width: 90%;
}