/* Global */
.multiFormContainer{
    width: 50%;
    height: 90vh;
    max-width: 1000px;
    max-height: 850px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #CEE4F2;
    max-width: 50vw;
    padding: 1rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
}
.loader{
    position: absolute;
    z-index: 15;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    background-color: RGBA(255, 255, 255, 0.61);
    animation-name: topApparion;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.topContainer{
    /* background-color: antiquewhite; */
    display: flex;
    height: 13%;
    flex-direction: column;
    justify-content: center;
}
.progression{
    opacity: 0;
    transform: translateY(-40px);
    animation-name: apparition, topApparion;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    width: 100%;
    height: 15px;
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.avancement{
    border-radius: 20px 0px 0 0;
    background-color: #74c011;
    width: 0;
    height: 100%;
    transition: width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    font-size: 12px;
    text-align: center;
}
.title{
    font-size: 28px;
    color: #314662;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-align: center;
}

/* Formulaire */
.formulaire{
    /* background-color: aqua; */
    min-height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 660px;
}
.label{
    font-size: 20px;
    color: #314662;
    font-weight: bold;  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.labelCreatAcount{
    font-size: 20px;
    color: #314662;
    font-weight: bold;  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.labelAccount{
    font-size: 20px;
    color: #314662;
    font-weight: bold;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}
.nameH3{
    text-align: center;
    max-width: 600px;
    font-size: 20px;
}
.nameSpan{
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.labelFinal{
    font-size: 20px;
    color: #314662;
    font-weight: bold;  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.labelSeven{
    font-size: 20px;
    font-weight: bold;
    color: #314662;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.span{
    margin-top: 0.4rem;
}
.name{
    font-weight: bold;
}
.label .span, .labelSeven .span {
    font-size: 12px;
    font-weight: medium;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    justify-content: space-around;
    width: 95%; 
    padding: 1rem;
}
.buttonContainer{
    height: 5rem;
    /* margin-bottom: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* input */
.inputContainer{
    /* background-color: aqua; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.input, .select{
    opacity: 0;
    animation-name: apparition;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    min-width: 350px;
    height: 32px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    padding-left: 2rem;
    margin-top: 1rem; 
    padding-right: 1rem;
}
@media screen and (max-width: 450px) {
    .input, .select {
            min-width: 100%;
        }
}
.select{
    padding: 0;
    color: #314662;
    padding-left: 1rem;
}
.inputContainer .labelFinal{
    margin-top: 1rem;
}
.inputContainer .input{
    margin-top: 0.5rem;
}

/* BigCard */
.bigCard{
    cursor: pointer;
    opacity: 0;
    animation-name: apparition;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    border-radius: 3px;
    margin-top: 1rem;
    width: 30%;
    min-width: 182px;
    background-color: white;
    padding: 1.5rem 1rem 1rem 1rem;
    color: #314662;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

}
.bigCardCheck{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 14px;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid #314662;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigCardTitle{
    margin-top: 1rem;
    font-size: 16px;
    min-height: 2rem;
    text-align: center;
}

/* SmallCard */
.smallCard{
    cursor: pointer;
    opacity: 0;
    animation-name: apparition;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    border-radius: 3px;
    margin-top: 1rem;
    width: 32%;
    min-width: 140px;
    max-width: 225px;
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #314662;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    max-height: 132px;
}
.smallCardCheck{
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 1px;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 14px;
    border: 1px solid #314662;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallCardTitle{
    font-size: 16px;
    min-height: 2rem;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (max-width: 425px) {
    .smallCard{
        min-width: 225px;
    }
    .label{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 653px) {
    .multiFormContainer{
        margin-top: 3rem;
        height: 100%;
        max-height: none;
        min-height: 100%;
    }
    .formulaire{
        margin-top: 2rem;
    }
    .buttonContainer{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .multiFormContainer{
        min-width: 90vw;
    }
    .bigCard{
        width: 100%;
    }
}

@keyframes apparition {
    100%{
        opacity: 1;
    }
}

@keyframes topApparion {
    100%{
        transform: translateY(0px);
    }
}