.main{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #deebf3;
}
.container{
    display: flex;
    align-items: center;    
    min-width: 80vw;
    justify-content: space-around;
}
.loader{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 5;
}
.title{
    --titleSize: 32px;
    font-size: var(--titleSize);
    color: #314662;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 300;
}
.formulaire{
    height: 450px;
    max-width: 400px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
    background-color: white;
}
.input{
    width: 300px;
    height: 50px;
    margin-top:2rem;
    font-size: 18px;
    color: #314662;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
    padding-left: 1rem;
    font-weight: 300;
    /* min-width: 60%; */
}
.recuperation{
    font-size: 12px;
    color: #314662;
    max-width: 600px;
    margin-top: 1rem;
}
.button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: rgb(120,198,21);
    background: linear-gradient(180deg, rgba(120,198,21,1) 0%, rgba(84,151,0,1) 99%);
    font-size: 26px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    width: 150px;
    font-size: 18px;
    height: 50px;
}
.entreprise{
    padding: 3rem 2rem 3rem 2rem;
    background-color: #314662;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 200px;
}
.entreprise_p{
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 300;
    max-width: 350px;
}
@media screen and (max-width: 1024px) {
    .formulaire{
        height: 350px;
        width: 90vw;
    }
    .title{
        font-size: 40px;
    }
    .input{
        font-size: 18px;
        max-width: 35%;
    }
}
@media screen and (max-width: 425px) {
    .input{
        min-width: 80%;
    }
}