.main{
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: #314662;
    font-size: 96px;
}
.susTitle{
    color: #314662;
    font-size: 36px;
}