.main{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: #314662;
    font-size: 96px;
}
.susTitle{
    color: #314662;
    font-size: 36px;
    max-width: 800px;
    text-align: center;
    margin-top: 2rem;
}
.p{
    color: #314662;
    font-size: 12px;
    margin-top: 1rem;
}