.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #314662;
    font-size: 64px;
    margin-top: 2rem;
    font-weight: 300;
    text-align: center;
}
.formContainer{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: relative;
    /* background-color: #CEE4F2; */
    max-width: 50vw;
    padding: 1rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
    margin-bottom: 2rem;
}
.imgContainer{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 5%;
    top: 10%;
    background-image: url("../../../asset/image/entreprise.png");
    background-size: cover;
}
.nameContainer{
    color: #314662;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 1rem;
}
.input, .textArea{
    width: 50%;
    height: 40px;
    margin-top: 0.5rem;
    font-size: 24px;
    color: #314662;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
    padding-left: 1rem;
    font-weight: 300;
}
.textArea{
    width: 100%;
    height: 200px;
}
.button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: rgb(120,198,21);
    background: linear-gradient(180deg, rgba(120,198,21,1) 0%, rgba(84,151,0,1) 99%);
    font-size: 26px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}