.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 2rem;
    max-width: 42vw;
}
.title{
    font-size: 28px;
    font-weight: medium;
}
.text{
    margin-top: 1rem;
    font-size: 20px;
    line-height: 2.5rem;
    font-weight: 300;
}
.title, .text{
    color: #314662;
}
.bolder{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .content{
        min-width: 90vw;
    }
    .title{
        margin-top: 2rem;
    }
}
@media screen and (min-width: 1570px) {
  .content{
    width: 45%;
  }
}