.container{
    width: 100vw;
    background-color: #CEE4F2;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title, .listElement{
    color: #314662;
}
.title{
    font-size: 36px;
}
.listElement{
    font-size: 24px;
    line-height: 2.5rem;
    font-weight: 300;
    list-style: none;
}
.button{
    width: 250px;
    height: 70px;
    border-radius: 20px;
    border: none;
    background: rgb(120,198,21);
    background: linear-gradient(180deg, rgba(120,198,21,1) 0%, rgba(84,151,0,1) 99%);
    font-size: 26px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-weight: 300;
}
.content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.leftContainer{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rightContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
@media screen and (max-width: 1320px) {
    .content{
        flex-direction: column;
    }
    .container{
        height: 100%;
        padding: 3rem 0;
    }
    .leftContainer{
        width: 100%;
    }
    .rightContainer{
        padding: 3rem 0;
        width: 100%;
        text-align: center;
    }
    .list{
        padding: 2rem 0;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        margin-top: 5rem;
    }
}
@media screen and (max-width: 630px) {
    .videoContainer{
        width: 100%;
    }
    .videoYoutube{
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .button{
        width: 150px;
        font-size: 18px;
        height: 50px;
    }
}
@media screen and (min-width: 1570px) {
    .content{
      width: 1440px;
    }
  }