.simulateur{
    padding: 2rem 0;
    height: 100%;
}
.simulateur_h3{
    font-size: 24px;
    font-weight: 400;
    color: #314662;
}
.simulateur_h4{
    font-weight: 400;
    color: #314662;
    margin-top: 2rem;
}