.midContent{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 768px) {
    .midContent{
        flex-direction: column !important 
    }
}
@media screen and (min-width: 1570px) {
  .midContent{
    width: 1440px;
  }
}